.firstview{
  position: relative;
  height: 912px;
  min-height: 760px;
  display: block;
  overscroll-behavior-y: none;
}

.firstview_image{
  overflow: hidden;
  text-align : center;
  overscroll-behavior-y: none;
}